nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.py-3
    .container
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                each link, index in links
                    li.nav-item
                        if(title === link.name)
                            a.nav-link.active(href=link.path) #{link.name}
                        else
                            a.nav-link(href=link.path) #{link.name}
